{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique Française{% endblock %}

{% block content %}


   

<h1> Donnée personnelles de {{app.user.firstname}} {{app.user.name}} </h1>



{% endblock %}