{% extends 'base.html.twig' %}

{% block title %}Modifier mon Mot De Passe - La Boutique Française{% endblock %}

{% block content %}
<h1> Modifier votre mot de passe </h1>

<p> Bienvenu {{app.user.firstname}} sur votre espace personnel. 
<br>
<hr>
<a href="{{path('account')}}">>Retourner à mon compte</a><br>

<hr> 
{% if notification %}
    <div class="alert alert-info"> {{notification}} </div>
{% endif %}

{{form(form)}}

<hr>
{% endblock %}