{% extends 'base.html.twig' %}

{% block title %}POK | Acceuil{% endblock %}

{% block content %}

<h1>Politique de protection des données personnelles</h1>
<br>
<p> <strong>Dernière mise à jour : 25 mai 2018</strong> 

    POK est soucieux de la protection des données personnelles. Il s'engage à assurer le meilleur niveau de protection à vos données personnelles en conformité avec les réglementations européennes et françaises qui lui sont applicables en matière de protection des données personnelles.
    Pour toute information sur la protection des données personnelles, vous pouvez également consulter le site de la Commission Informatique et Liberté   <a href="www.cnil.fr">www.cnil.fr</a>.</p>

    <h2><strong>Pourquoi POK collecte mes données personnelles ?</strong></h2> <br>

    <h3> POK utilise vos données personnelles principalement pour les finalités suivantes :</h3>
     <p> <strong>La Gestion des commandes et de la relation client</strong> <br> <br>
        Nous avons besoin des informations qui vous concernent pour la gestion de vos commandes et les suites de celle-ci (par exemple les livraisons, les factures, la comptabilité et en particulier la gestion des comptes clients, le suivi de la relation client tel que la réalisation d'enquêtes de satisfaction, la gestion des réclamations et du service après-vente, la sélection de clients pour réaliser des études et sondages.</p>

        <p> <strong> <small> La personnalisation de nos services et les messages que nous vous adressons</small> </strong> <br>
            Les données vous concernant nous permettent d'améliorer et personnaliser les services que nous vous proposons et les communications que nous vous adressons. Par exemple : nous pouvons vous adresser des emails personnalisés ou vous recommander des produits similaires à ceux que vous avez déjà acheté ou consulté et qui correspondent à vos centres d'intérêts.</p>

      <h3>Quelles sont les données personnelles qui sont collectées me concernant ? <br><br>
        Quelles données ?</h3>  <br>    

        <p>Nous collectons et traitons notamment vos nom, prénom, adresse email, mot de passe, numéro de téléphone, adresse IP, données de connexions et données de navigation, historiques de commandes, réclamations.
            Le caractère obligatoire ou facultatif des données vous est signalé lors de la collecte par un astérisque. Certaines données sont collectées automatiquement du fait de vos actions sur le site, d'autres informations peuvent être transmises par des partenaires.</p><br>
            
            <h4>Quand ?</h4><br>

            <p>Nous collectons les informations que vous nous fournissez notamment quand : <br><br>

                vous créez votre compte client sur le site <br> <br>
                vous effectuez une commande sur le site <br><br>
                vous naviguez sur le site et consultez des évènements <br><br>
                vous contactez notre Service Client <br><br>
                vous rédigez un commentaire <br><br>
                </p>

        <h3>Quels sont mes droits au regard de l'utilisation des données personnelles ?</h3> <br><br>

        <p>Conformément à la règlementation sur la protection des données personnelles, vous pouvez exercer vos droits concernant le service de billetterie POK (accès, rectification, suppression, opposition, limitation et portabilité le cas échéant) et définir le sort de vos données personnelles « post mortem » par email, en remplissant le formulaire sur la page de contact. <br><br>

            Afin de nous permettre de répondre rapidement, nous vous remercions de nous indiquer vos nom, prénom, e-mail. Certaines demandes d'exercice de vos droits (droit d'accès) devront être accompagnées du numéro de commande afin de certifié votre authenticité. <br><br>
            
            A tout moment au cours de l'analyse de risque menée par POK dans le cadre de la prévention de la fraude, vous pourrez présenter vos observations. <br>
            Vous disposez par ailleurs, du droit d'introduire une réclamation auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL), notamment sur son site internet <a href="www.cnil.fr">www.cnil.fr</a>. <br>
            POK dispose d'un Délégué à la Protection des données personnelles (DPO) chargé de garantir la protection des données personnelles. Vous pouvez contacter le Délégué à la protection des données personnelles de POK à l'adresse pu_p0k@outlook.fr (hors exercice de vos droits qui s'effectuent principalement sur la page de contact)</p> <br><br>

        <p></p>
    {% endblock %}