
{% extends 'base.html.twig' %}

{% block title %}POK | Acceuil{% endblock %}

{% block content %}

    <h1> Qu'est-ce qu'un Cookie ? </h1>

        <p> Un cookie est un petit fichier texte déposé sur votre ordinateur lors de la visite d'un site ou de la consultation d'une publicité. Ils ont notamment but de collecter des informations relatives à votre navigation sur les sites et de vous adresser des services personnalisés.
            Dans votre ordinateur les cookies sont gérés par votre navigateur internet.</p>

    <h2>Les cookies POK</h2>
       
        <p> Il s'agit des cookies déposés par la société POK sur votre terminal pour les besoins de la navigation sur notre site internet, l'optimisation et la personnalisation de nos services sur le site.</p>

    <h2> ACCEPTER OU REFUSER LES COOKIES</h2>

    <p>Vous disposez de différents moyens pour gérer les cookies.<br><br>

        Le paramétrage de votre navigateur internet<br><br>
        
        Vous pouvez à tout moment choisir de désactiver ces cookies. Votre navigateur peut également être paramétré pour vous signaler les cookies qui sont déposés dans votre ordinateur et vous demander de les accepter ou non. Vous pouvez accepter ou refuser les cookies au cas par cas ou bien les refuser systématiquement une fois pour toutes.
        Nous vous rappelons que le paramétrage est susceptible de modifier vos conditions d'accès à nos services nécessitant l'utilisation de cookies.
        Si votre navigateur est configuré de manière à refuser l'ensemble des cookies, vous ne pourrez pas effectuer d'achats ou profiter de fonctions essentielles de notre site, comme par exemple stocker des articles dans votre panier ou recevoir des recommandations personnalisées. Afin de gérer les cookies au plus près de vos attentes nous vous invitons à paramétrer votre navigateur en tenant compte de la finalité des cookies telle que mentionnée ci-avant.
        Voici comment contrôler ou empêcher l'enregistrement des cookies : <br><br>
        La configuration de chaque navigateur est différente. Elle est décrite dans le menu d'aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies.
        Vous pouvez désactiver les cookies en suivant les instructions comme suit :
        <br><br>
        1/ si vous utilisez le navigateur Internet Explorer<br><br>
        
        Dans Internet Explorer, cliquez sur le bouton Outils, puis sur Options Internet.
        Sous l'onglet Général, sous Historique de navigation, cliquez sur Paramètres.
        Cliquez sur le bouton Afficher les fichiers.
        Cliquez sur l'en-tête de colonne Nom pour trier tous les fichiers dans l'ordre alphabétique, puis parcourez la liste jusqu'à ce que vous voyez des fichiers commençant par le préfixe » Cookie «. (tous les cookies possèdent ce préfixe et contiennent habituellement le nom du site Web qui a créé le cookie).
        Sélectionnez le ou les cookies comprenant le nom « www.pok.fr » et supprimez-les
        Fermez la fenêtre qui contient la liste des fichiers, puis cliquez deux fois sur OK pour retourner dans Internet Explorer.<br><br>
        
        2/ si vous utilisez le navigateur Firefox<br><br>
        
        Allez dans l'onglet « Outils » du navigateur puis sélectionnez le menu « Options »
        Dans la fenêtre qui s'affiche, choisissez «Vie privée » et cliquez sur « Affichez les cookies »
        Dans la fenêtre qui s'affiche, choisissez «Vie privée » et cliquez sur « Affichez les cookies »
        Repérez les fichiers qui contiennent le nom « www.pok.fr » Sélectionnez-les et supprimez-les.<br><br>
        
        3/ si vous utilisez le navigateur Safari<br><br>
        
        Dans votre navigateur, choisissez le menu Édition > Préférences.
        Cliquez sur Sécurité.
        Cliquez sur Afficher les cookies.
        Sélectionnez les cookies qui contiennent le nom « www.pok.com » et cliquez sur Effacer ou sur Tout effacer.
        près avoir supprimé les cookies, cliquez sur Terminé.<br><br>
        
        4/ si vous utilisez le navigateur Google Chrome<br><br>
        
        Cliquez sur l'icône du menu Outils.
        Sélectionnez Options.
        Cliquez sur l'onglet Options avancées et accédez à la section "Confidentialité".
        Cliquez sur le bouton Afficher les cookies.
        Repérez les fichiers qui contiennent le nom « www.pok.com » Sélectionnez-les et supprimez-les.
        Cliquez sur « Fermer » pour revenir à votre navigateur<br><br>
        
        Le paramétrage sur une plateforme de gestion des cookies<br>
        
        Vous pouvez gérer vos cookies en en vous rendant sur des plateformes de gestion des cookies proposées par les professionnels de la publicité.</p>

        <h2>PLUS D'INFORMATION SUR LES COOKIES</h2> <br>

        <p><a href="http://www.cnil.fr/vos-droits/vos-traces/les-cookies/">Sur le site de la CNIL : http://www.cnil.fr/vos-droits/vos-traces/les-cookies/</a></p><br>
</div>


{% endblock %}